<p id="notice"><%= notice %></p>

<h1>My Groups</h1>
<% @groups.each do |group| %>
  <%= group.title %>
  <%= link_to 'Show', group %> | 
  <%= link_to 'Edit', edit_group_path(group) %> | 
  <%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %><br>
<% end %>

<br>

<%= link_to 'New Group', new_group_path %>

<h1>Other Groups</h1>
<% @memberships.each do |membership| %>
  <%= membership.group.title %>
  <%= link_to 'Show', membership.group %>
<% end %>